@model IEnumerable<CoreCourse.Spyshop.Web.ViewModels.Components.MainNavLinkVm>

@foreach (var navlink in Model)
{
    <li@(Html.Raw(navlink.IsActive ? " class=\"active\"" : ""))><a asp-action="@navlink.Action" asp-controller="@navlink.Controller">@navlink.Text</a></li>
}
