<h2>HTTP 500 - Server Error</h2>

<p>Something when terribly wrong on the server while executing your request.</p>
<p>
    This might be cause by an overworked and underpaid programmer.<br />
    We will track him down and fire him at once to appease you, oh Mighty End User!
</p>
