@{
    ViewBag.Title = "Home - Spyshop";
}
@section abovemain{
    <figure class="sale-flag">
        <a asp-action="Index" asp-controller="Products" asp-area=""></a>
    </figure>
}
<h1>Spy Shop</h1>
<p>A store for your secretive and lurking needs.</p>
