@model CoreCourse.Spyshop.Web.Areas.Admin.ViewModels.ProductsEditVm

@{
    ViewData["Title"] = "Admin - Edit Product";
}

<h3>Edit Product</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortNumber" class="control-label"></label>
                <input asp-for="SortNumber" class="form-control" />
                <span asp-validation-for="SortNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.AvailableCategories,"Id","Name"))">
                    <option value="">-- Pick a category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label>Product image</label>
                    @{
                        var photoUrl = string.IsNullOrWhiteSpace(Model.PhotoUrl) ?
                            "default-product.png" : "products/" + Model.PhotoUrl;
                    }
                    <img style="display:block;margin:0 auto;max-width:300px;max-height:300px;"
                         src="~/images/@photoUrl" />
                </div>


                <label asp-for="UploadedImage">Upload a new image for this product</label>
                <input type="file" asp-for="UploadedImage" />
                <p>
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

