@model CoreCourse.Spyshop.Web.ViewModels.CatalogIndexVm

@section head {
    <link href="~/css/products.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Products - Spyshop";
}
<h1>Products</h1>

@foreach (var cat in Model.Categories)
{
    if (!cat.Products.Any())
    {
        continue;
    }
    <section>
        <header><h3>@cat.Name</h3></header>
        <ul class="product-grid">
            @foreach (var product in cat.Products)
            {
                <li>
                    <article>
                        <a asp-action="Product">
                            <section class="product-img"></section>
                            <section class="product-price">@product.Price.ToString("C2")</section>
                            <section class="product-title">@product.Name</section>
                            <section class="product-desc">@product.Description</section>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
}
