@model int
<li class="nav-item cart-widget-container">
    <a class="nav-link" asp-action="Index" asp-controller="Cart" asp-area="">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge badge-primary badge-cart">@Model</span>
    </a>
</li>