$spyshop-primary-color: #fe7e00; //#ff7f00;
$spyshop-font-light-color: #a1a1a1;
$spyshop-primary-bg: #fff;
$spyshop-bg-light: #f8f9fa;
$spyshop-bg-light-variant: #fbf9ef;
$footer-height:100px;

// bootstrap overrides
$theme-colors: ( primary: $spyshop-primary-color );
