@model CoreCourse.Spyshop.Web.ViewModels.AboutIndexVm
@{
    ViewBag.Title = "About - Spyshop";
}
<h1>@Model.AboutTitle</h1>
@Html.Raw(Model.AboutContent)
<footer>
    <hr />
    Click <a href="mailto:@(Model.ContactEmail)">here</a> to contact @Model.CompanyFullName
</footer>