@{
    Layout = "~/Views/Shared/_PublicSpyLayout.cshtml";
}

@section head{
    <link href="~/css/admin.css" rel="stylesheet" />
}

@section abovemain
    {
    <div class="adminnav col-sm-12">
        <div class="navcontent">
            <div class="navtitle">Administration</div>
            <ul>
                @await Component.InvokeAsync("MainNavigation", new { showAdmin = true })
            </ul>
        </div>
    </div>
}

@RenderBody()